header {
  grid-area: header;
  padding: 1rem;
  background-color: $mine-shaft;
  figure {
    img {
      @include size(15rem, 2rem);
    }
    h1 {
      margin: 0.5rem 1.25rem;
    }
    @include medium {
      @include flex;
    }
  }
}
